---
title:      "Keysmith v0.1 release"
created_at: 2019-12-18 13:30:00 UTC
author:     Bhushan Shah
layout:     post
---
<p>I am happy to announce the v0.1 release of the <a href="https://invent.kde.org/kde/keysmith">keysmith</a>.</p>

<p>Keysmith is Two-factor code generator for Plasma Mobile and Desktop.</p>

<p>You can get first release from the</p>

<p><a href="https://download.kde.org/stable/keysmith/0.1/">https://download.kde.org/stable/keysmith/0.1/</a></p>

<p>It has been gpg signed by my personal key with fingerprint</p>

<p><code class="highlighter-rouge">0AAC 775B B643 7A8D 9AF7  A3AC FE07 8411 7FBC E11D</code></p>

<p>Please note that this is a v 0.1 release and there are known issues with Keysmith. In particular the storage of secrets for tokens is not implemented securely yet. <strong>Only use this for testing purposes, do not use this with real account data just yet.</strong> This release is for you if:</p>

<ul>
  <li>you are excited about an app for KDE for 2 factor authentication and want to get involved</li>
  <li>you are a packager who want to get a head’s start so you are well prepared for v1.0 when it finally lands</li>
</ul>

<p>Again, <strong>please do not use this for real accounts yet</strong>: Keysmith is not secure at this point. But you can help! If you want to help out head over to <a href="https://invent.kde.org/kde/keysmith/issues/">https://invent.kde.org/kde/keysmith/issues/</a>.</p>