---
title:      "Plasma Mobile at Plasma Sprint Valencia"
created_at: 2019-07-22 07:20:00 UTC
author:     Bhushan Shah
layout:     post
---
<p>In June month we gathered in Slimbook’s offices to work on Plasma. Along with Plasma developers, we were also joined by KDE Usability and Productivity team.</p>

<p>During the sprint I mostly worked to create up-to-date image for Plasma Mobile, as from last few weeks Plasma Mobile image was quite out-of-date and needed update.</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JxNlApC1tB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>Some of the bugfixes we did includes,</p>

<ul>
  <li>Workaround for potentially broken Qt 5.12.3, using basic render loop instead of threaded.</li>
  <li><a href="https://phabricator.kde.org/D22054">Fix for the regression in Window placement, sizing</a> (Thanks to Aleix and David for help on this)</li>
  <li>Fixing WiFI settings on mobile</li>
</ul>

<p>Apart from Plasma Mobile, I worked on general Plasma bugfixes as well,</p>

<ul>
  <li><a href="https://phabricator.kde.org/D22049">Behavior change in plasma-framework PluginLoader to fix behavior of X-KDE-ParentApp entries</a></li>
  <li><a href="https://phabricator.kde.org/D22021">Fix for regression of the double locksceen in Plasma session</a></li>
</ul>

<p>If you want to know overall progress made in the Plasma + Usability &amp; Productivity sprint, then you can take a look at <a href="https://dot.kde.org/2019/07/04/plasma-usability-productivity-sprint-valencia-spain">dot story</a> for more detailed sprint report.</p>

<p>Thanks to <a href="https://slimbook.es/en/">Slimbook</a> for hosting us and <a href="https://ev.kde.org">KDE e.V.</a> for sponsoring my travel!</p>

<p>Also, I am going to Akademy 2019, and talking with Marco Martin about <a href="https://conf.kde.org/en/akademy2019/public/events/109">Plasma on embedded devices</a>.</p>

<p><img src="https://cdn.kde.org/akademy/2019/imgoing/Akademy2019BannerBoscoVerticale.png" alt="I am going to Akademy 2k19" /></p>